<?xml version="1.0"?>

<launch>
    <node name="aruco_detection_node" type="aruco_detection_node" pkg="aruco_detection" output="screen" />
    <!-- <test name="aruco_detection_test" type="aruco_detection_test" pkg="aruco_detection" output="screen" test_name="test_aruco_handler" /> -->
    <!-- <rosparam command="load" file="$(find image_preprocessing)/params/preprocessing.yaml" /> -->
</launch>
