<?xml version="1.0"?>
<launch>
    <!-- Confidence thresholding node -->
    <node name="confidence_thresholding_node"    pkg="confidence_thresholding"     type="confidence_thresholding_node.py"    output="screen"/>
    <node name="feature"    pkg="confidence_thresholding"     type="confidence_thresholding_node.py"    output="screen"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="detection" args="0 0 0 0 0 0 zed2_left_camera_frame detection" />
</launch>