<?xml version="1.0"?>
<launch>
    <!-- Confidence thresholding node -->
    <node name="preprocessing_node"    pkg="preprocessing"     type="preprocessing_node.py"    output="screen"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="detection" args="0 0 0 0 0 0 zed2i_left_camera_frame detection" />
</launch>