<?xml version="1.0"?>
<launch>
  
    <arg name="debug" default="true"/> <!-- true | false -->

    <group if="$(eval debug == 'false')">
        <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/zed2/zed_node/rgb_raw/image_raw_color raw out:=image" />
    </group> <!-- end debug -->

    <group if="$(eval debug == 'true')">
        <node name="image_publisher"    pkg="valve_edc"     type="image_publisher.py"    output="screen"/>
    </group> <!-- end debug -->

    <node name="valve_edc_node"    pkg="valve_edc"     type="valve_edc_node.py"    output="screen"/>
    <node name="valve_edc_cfg"    pkg="valve_edc"     type="dynam_recfg_valve_edc.py"    output="screen"/>
</launch>
