<?xml version="1.0"?>
<launch>
    <arg name="type" default="real"/>

    <group if="$(eval type == 'simulator')">
        <param name ="/use_sim_time" value="true"/>
        <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/zed2/zed_node/rgb/image_rect_color raw out:=/zed2/zed_node/rgb/image_rect_color" />
    </group>

    <!-- IPP node -->
    <!-- <include file="$(find image_preprocessing)/launch/image_preprocessing.launch"/> -->

    <!-- FD node -->
    <!-- <include file="$(find feature_detection)/launch/feature_detection_node.launch"/> -->

    <!-- PCP node -->
    <include file="$(find pointcloud_processing)/launch/pointcloud_processing_node.launch"/>
    
    <!-- ZED Wrapper -->
    <include file="$(find zed_wrapper)/launch/zed2.launch"/>

    <!-- gmf node -->
    <include file="$(find gmf)/launch/gmf_node.launch"/>

</launch>
