<?xml version="1.0"?>
<launch>
    <!-- Pointcloud processing node -->
    <node name="pointcloud_processing_node"    pkg="pointcloud_processing"     type="pointcloud_processing_node.py"    output="screen"/>
    <node name="feature"    pkg="pointcloud_processing"     type="pointcloud_processing_node.py"    output="screen"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="detection" args="0 0 0 0 0 0 zed2_left_camera_frame detection" />
</launch>