  <launch>
    <!--
        TODO: Inlude ZED2 transform from cam_center to left_cam
    -->

    <!--Input args-->
    <!-- <param name ="/use_sim_time" value="true"/> -->
    <arg name="type" default="real"/> 
    <arg name="bagfile" default="$(env HOME)/vortex_ws/src/Vortex-CV/object_edc/bagfiles/lite_gate_medium_sway_backwards_qual.bag" />

  
    <group if="$(eval type == 'simulator')">
      <param name ="/use_sim_time" value="true"/>
      <node name="playbag_drone" pkg="rosbag" type="play" required="true" args="--clock -l $(arg bag_drone)" /> 
    </group>

    <node pkg="rcfa_detection" type="rcfa_detection_node.py" name="rcfa_detection" output="screen"/>

  </launch>