<?xml version="1.0"?>
<launch>
    <node name="republish" type="republish" pkg="image_transport" output="screen" args="compressed in:=/zed2/zed_node/rgb/image_rect_color raw out:=/zed2/zed_node/rgb/image_rect_color" />
    <node name="image_preprocessing_node"    pkg="image_preprocessing"     type="image_preprocessing_node.py"    output="screen"/>
    <node name="CVOD_cfg"    pkg="image_preprocessing"     type="dynam_recfg.py"    output="screen"/>
</launch>