  <launch>
    <!--
        TODO: Inlude ZED2 transform from cam_center to left_cam_lens
        TODO: Make  if type:=simulator option

        This node is for running on offline data. 
        bag_drone:=${HOME}/hdd/MCLAB_rosbags/day2/cv_ekf/gate_medium_sway_backwards_qual.bag
        bag_gate:=${HOME}/hdd/MCLAB_rosbags/day2/gate_static_qual_pose.bag

        This launch file provides transform  
    -->
    <!--Parameters  -->
    
   

    <!--Input args-->
    <arg name="bag_gate" default="/home/kristian/MCLAB/day2/gate_static_qual_pose.bag" />
    <arg name="bag_drone" default="/home/kristian/MCLAB/day2/cv_ekf/gate_medium_sway_backwards_qual.bag" />

    <node name="playbag_drone" pkg="rosbag" type="play" required="true" args="$(arg bag_drone)" /> 
    <node pkg="object_edc" type="fake_gate_publisher.py" name="fake_gate"/>


    <node pkg="tf2_ros" type="static_transform_publisher" name="qualsys_to_base_link" args="0 0 0 0 0 0 Body_1 auv/base_link" output="screen" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_camera_center" args="0.3175 0 0.10 0 -0.296706 -0.0087266 auv/base_link auv/camerafront_link" output="screen" />
    

     <!-- Remap topic for qualsys gate topic 
    <group>
        <remap from="/qualisys/Body_1/pose" to="/object_detection/object_pose/gate"/>
        <node name="playbag_gate" pkg="rosbag" type="play" required="true" args="- -clock -l $(arg bag_gate)" />
    </group>
-->
    

    
    <include file="$(find object_edc)/launch/ekf_node.launch"/>
  </launch>
