  <launch>
    <!--
        TODO: Inlude ZED2 transform from cam_center to left_cam_lengt

        This node is for running on offline data. 
        bag_drone:=${HOME}/hdd/MCLAB_rosbags/day2/cv_ekf/gate_medium_sway_backwards_qual.bag
        bag_gate:=${HOME}/hdd/MCLAB_rosbags/day2/gate_static_qual_pose.bag

            <arg name="bag_drone" default="$(env HOME)/vortex_ws/src/Vortex-CV/object_edc/bagfiles/lite_gate_medium_sway_backwards_qual.bag" />

    -->
    <!--Parameters  -->
    <param name ="/use_sim_time" value="true"/>

    <!--Input args-->
    <arg name="type" default="simulator"/> <!--TODO: Change default to real when the node is complete-->
    <arg name="bag_drone" default="$(env HOME)/vortex_ws/src/Vortex-CV/object_edc/bagfiles/lite_gate_medium_sway_backwards_qual.bag" />

    <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find object_edc)/src/visualizer.rviz" />

    <group if="$(eval type == 'simulator')">
      <node name="playbag_drone" pkg="rosbag" type="play" required="true" args="--clock -l $(arg bag_drone)" /> 
      <node pkg="object_edc" type="fake_gate_publisher.py" name="fake_gate"/>


      <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_qualsys_odom" args="0 0 0 0 0 0 map mocap" output="screen" />
      <node pkg="tf2_ros" type="static_transform_publisher" name="qualsys_base_link_to_camera_center" args="0.3175 0 0.10 0 -0.296706 -0.0087266 Body_1 auv/camerafront_link" output="screen" />
    </group>
    
    <node pkg="object_edc" type="ekf_node.py" name="ekf_vision" output="screen"/>
  </launch>
