<?xml version="1.0"?>
<launch>
    <!-- <param name ="/use_sim_time" value="true"/> -->
    <node name="feature_detection_node"    pkg="feature_detection"     type="feature_detection_node.py"    output="screen"/>
    <node name="CVOD_cfg"    pkg="feature_detection"     type="dynam_recfg.py"    output="screen"/>
</launch>